#card img {
  width: 400px;
  border-radius: 100px;
}

#card h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
}

#card p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}
